{% extends "base.html" %} {%load staticfiles %} {% block content %}
<div id="the_table">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for c in drivers%}
            <tr>
                <td>{{c.name}}</td>
                <td>{{c.driver_number}}</td>
                {% ifequal c.status "Free" %}
                	<td bgcolor="#00FF00">{{c.status}}</td>
                {% else %}
                	<td bgcolor="#00FF00">{{c.status}}</td>
            	{% endifequal %}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{% static 'main.js' %}"></script>
{%endblock %}
